---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  
  // dummy contents & instructions
  // REMOVE COMPLEATLY, it have nothing to do with project code - examples only
  // section
    //- section.wow.wowFadeUp
  .main-slider
    .main-slider-item(style="background-image: url('img/KITAJ.jpg')")
      div
        span
          | Поднебесный
          br
          | Китай
        |  скоро открытие
        br
        a(href='strany/kitaj/index.html') подробнее
        img.main-slider-item-img(src='img/KITAJ_doll.png', alt='')
    .main-slider-item(style="background-image: url('img/KOREYA.jpg')")
      div
        span
          | Утренняя
          br
          | Корея
        |  скоро открытие
        br
        a(href='strany/koreya/index.html') подробнее
        img.main-slider-item-img(src='img/KOREYA__doll.png', alt='')
    .main-slider-item(style="background-image: url('img/YAPONIYA.jpg')")
      div
        span
          | Загадочная
          br
          | Япония
        |  скоро открытие
        br
        a(href='strany/japoniya/index.html') подробнее
        img.main-slider-item-img(src='img/YAponiya_Doll.png', alt='')
  //- section.wow.wowFadeUp
  .main-desc
    span
      | далекие страны 
      span окажутся совсем рядом
    p Мы создаем уникальную атмосферу и переносим в самые красочные места на планете не выезжая за границу. Придумываем концепции для мероприятий, шоу-программы, чилаутные зоны, которые поразят и надолго запомнятся.
    a.btn(href='#') узнать больше
  //- section.wow.wowFadeUp
  .main-news
    a.main-news-item(href='work/rabota-6/index.html')
      .main-news-item-img(style="background-image: url('img/list1.jpg')")
      .main-news-item-content
        span.main-news-item-title
          | Китайский новый год
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga id libero corpori...
        span.main-news-item-date
          i.fa.fa-clock-o(aria-hidden='true')
          |  18 июля 2017
    a.main-news-item(href='work/rabota-5/index.html')
      .main-news-item-img(style="background-image: url('img/list2.jpg')")
      .main-news-item-content
        span.main-news-item-title
          | Китайский новый год совсем скоро
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga id libero corpori...
        span.main-news-item-date
          i.fa.fa-clock-o(aria-hidden='true')
          |  18 июля 2017
    a.main-news-item(href='work/rabota-4/index.html')
      .main-news-item-img(style="background-image: url('img/list3.jpg')")
      .main-news-item-content
        span.main-news-item-title
          | Китайский новый год
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga id libero corpori...
        span.main-news-item-date
          i.fa.fa-clock-o(aria-hidden='true')
          |  18 июля 2017
    a.main-news-item(href='work/rabota-3/index.html')
      .main-news-item-img(style="background-image: url('img/list4.jpg')")
      .main-news-item-content
        span.main-news-item-title
          | Китайский новый год
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga id libero corpori...
        span.main-news-item-date
          i.fa.fa-clock-o(aria-hidden='true')
          |  18 июля 2017
    a.main-news-item.large(href='work/rabota-2-2-2-2-2-2-2/index.html')
      .main-news-item-img(style="background-image: url('img/list5.jpg')")
      .main-news-item-content
        span.main-news-item-title
          | Японская ночь искусств
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga id libero corporis voluptatum quae molestias laboriosam alias maxime provident iste numquam earum molestiae sunt...
        span.main-news-item-date
          i.fa.fa-clock-o(aria-hidden='true')
          |  18 июля 2017
    .clear
    a.main-all-link(href='raboty/index.html')
      | другие новости
  //- section.wow.wowFadeUp
  .partners
    span
      | МЫ ГОРДИМСЯ РАБОТАМИ 
      span для лучших компаний
    .partners-content
      a.partners-item(href='', target='_blank')
        img(src='img/uniqlo.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/knyazev.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/Beline.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/LUK.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/mitsubishi.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/toyota.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/azbuka.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/philips.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/asics.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/fohow.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/vostok.png', alt='')
      a.partners-item(href='', target='_blank')
        img(src='img/takeda.png', alt='')
  //- section.wow.wowFadeUp