// MADE WITH LOVE BY <> KHMELEVSKOY & ASSOCIATES </> www.khmelevskoy.co
meta(charset="utf-8")
title= title || 'Page name'
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
link(rel='shortcut icon', href='http://ethnoevent.ru/favicon.png')
meta(name='format-detection', content='telephone=no')

link(rel='dns-prefetch', href='http://maxcdn.bootstrapcdn.com')
//- link#magnific-popup-css(rel='stylesheet', href='wp-content/themes/ethno/libs/magnific-popup/magnific-popup-ver=0.9.9.css', type='text/css', media='all')
//- link#slick-css(rel='stylesheet', href='http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css?ver=1.6.0', type='text/css', media='all')
link(rel='stylesheet' id='font-awesome-css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css?ver=4.5.0' type='text/css' media='all')
//- link#nouislider-style-css(rel='stylesheet', href='wp-content/themes/ethno/css/nouislider.min.css', type='text/css', media='all')
//- link#main-style-css(rel='stylesheet', href='wp-content/themes/ethno/css/main.css', type='text/css', media='all')
//- link#scin-style-css(rel='stylesheet', href='wp-content/themes/ethno/css/sc-scin.css', type='text/css', media='all')
//- link#media-style-css(rel='stylesheet', href='wp-content/themes/ethno/css/media.css', type='text/css', media='all')

link(rel='https://api.w.org/', href='wp-json/index.html')

// remove for production
meta(name="robots" content="noindex")
    
link(rel="stylesheet" media="all" href="css/app.css")
  
<!--[if lt IE 9]>
script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
<![endif]-->